aiohttp==2.0.7
aiomysql==0.0.9
amqp==2.2.1
asn1crypto==0.22.0
async-timeout==1.2.1
attrs==17.2.0
beautifulsoup4==4.6.0
bs4==0.0.1
Django==1.11.1
Jinja2==2.9.6
Markdown==2.6.8
MarkupSafe==1.0
multidict==2.1.4
Pillow==4.1.1
prettytable==0.7.2
PyMySQL==0.7.11
requests==2.18.1

