{% extends "blogapp/base.html" %}
{% block content %}
    <article class="content">
        <div class="blog">
            <div class="title">
                <h2>{{ blog.title }}</h2>
            </div>
            <div class="info">
                <span>{{ blog.category.name }}</span>
                <span>{{ blog.author }}</span>
                <span>{{ blog.pub_time|date:"Y-m-d H:i" }}</span>
            </div>
            <div class="summary">
                {{ blog.content }}
            </div>
        </div>
        <br>
        {% include 'blogapp/comment.html' %}
    </article>
{% endblock %}
