<div class="col-sm-12 comment-post" style="padding-top: 20px;">
    <h3>评论区</h3>
    <form action="{% url 'blog:blog_get_detail' blog.id %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div>
            {{ field.label}}:{{ field }}
            {{ field.errors }}
            </div>
        {% endfor %}
        <button type="submit">提交</button>
    </form>
    <br>
    <br>
    {% for comment in comments %}
        <p>{{ comment.name }} - <small>{{ comment.pub_time }}</small></p>
        <ul class="comment-field list-group">
            <li class="list-group-item">{{ comment.context }}</li>
        </ul>
    {% endfor %}
</div>