<nav aria-label="Page navigation">
    <ul class="pagination">
    {% if blog_list.has_previous %}
        <li>
            <a aria-label="Previous" href="?page={{ blog_list.previous_page_number }}">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
    {% endif %}

    {% if first_page == current_page %}
        <li class="active"><span>1</span></li>
    {% else %}
        <li><a href="?page=1">1</a></li>
    {% endif %}

    {% if pages_first > 2 %}
        <li><a>...</a></li>
    {% endif %}

    {% for page in pages %}
        {% if page == current_page %}
        <li class="active"><span>{{ page }}</span></li>
        {% else %}
        <li><a href="?page={{ page }}">{{ page }}</a></li>
        {% endif %}
    {% endfor %}


    {% if pages_last < last_page %}
        <li><a>...</a></li>
    {% endif %}


    {% if last_page != 1 %}
        {% if last_page == current_page %}
        <li class="active"><span>{{ last_page }}</span></li>
        {% else %}
        <li><a href="?page={{ last_page }}">{{ last_page }}</a></li>
        {% endif %}
    {% endif %}

    {% if blog_list.has_next %}
        <li>
            <a aria-label="Next" href="?page={{ blog_list.next_page_number }}">
            <span aria-hidden="true">&raquo;</span>
        </a>
        </li>
    {% endif %}
    </ul>
</nav>